@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans');

body{

    background-color: #ffdfdf;

}

.content{

    width: 55%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 25px;
    margin-top: 90px;
    background-color: rgb(243, 154, 183);

    display: flex;
    flex-direction: column;
    align-items: center;

}

img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 -8px;
    border-radius: 50%;

}
